<!DOCTYPE html>
<html>
    <head>
        <title>Admin}</title>
        <meta charset="utf-8">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <data style="display:none"></data>
        <style>
            .modal-body {
                max-height: 600px;
                overflow-y: scroll;
            }
            .tp {
                margin-top: 10px;
            }
            .alert-danger {
                margin: 0;
                margin-right: auto !important;
                justify-self: left;
            }
        </style>
    </head>
    
    <body>

        <div class="modal fade" id="tournamentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title-container">
                        <h5 class="modal-title" id="exampleModalLabel">Create Tournament</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div id="tc-modal-body" class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="t-title">Title</label>
                            <input type="username" class="form-control" id="t-title" placeholder="Extreme Slap Down 23">
                        </div>
                        <div class="form-group">
                            <label for="amount">Players</label>
                            <select class="form-control" id="amount">
                                <option selected>4</option>
                                <option>8</option>
                                <option>16</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="t-zip">Zip Code</label>
                            <input type="text" class="form-control" id="t-zip" placeholder="10101">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" role="alert" id="t-w-alert" style="display: none;"></div>
                    <div class="alert alert-success" role="alert" id="t-s-alert" style="display: none;"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="t-submit">Create</button>
                </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="editTournamentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title-container">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Tournament</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div id="te-modal-body" class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="te-title">Title</label>
                            <input type="username" class="form-control" id="te-title" placeholder="" disabled>
                        </div>
                        <div class="form-group">
                            <label for="e-amount">Players</label>
                            <select class="form-control" id="e-amount">
                                <option selected>4</option>
                                <option>8</option>
                                <option>16</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="te-zip">Zip Code</label>
                            <input type="text" class="form-control" id="te-zip" placeholder="10101">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="alert alert-danger" role="alert" id="te-w-alert" style="display: none;"></div>
                    <div class="alert alert-success" role="alert" id="te-s-alert" style="display: none;"></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="te-submit">Create</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteTournamentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title-container">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Tournament</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div id="td-modal-body" class="modal-body">
                    <div>
                        <h2>Are you sure you want to delete <b id="td-question"></b></h2>
                    </div>
                    <div>
                        <button class="btn btn-secondary">No</button>
                        <button class="btn btn-danger">Yes</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>

        <div id="page-container">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#"> {{title}} </a>
                <marquee id="intro" direction="left"><big><i>Final Project for CST 336, Internet Programming, made by Joseph, Kevin, Jacob, & Michael</i></big></marquee>
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tournamentModal">
                        Create Tournament
                    </button>
                    <div id="logout-button">
                        <input type="image" 
                            src="img/login_icon.png" 
                            name="logoutButton" 
                            class="btTxt submit"/>
                    </div>
                </div>
            </nav>
            <div id="body-container">
                <div class="admin-info">
                    Welcome back, {{username}}!
                    <br><br>
                    You have {{tournaments.length}} tournaments.
                </div>

                <div class="table-container">
                    <table class="table admin-table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Participants</th>
                                <th scope="col">Created</th>
                                <th scope="col">Zip</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if empty}}
                                <tr>
                                    <th scrope="row">No Records found!</th>
                                </tr>
                            {{/if}}
                            {{#each tournaments}}
                                <tr>
                                    <th scope="row">{{title}}</th>
                                    <td>{{levels}}</td>
                                    <td>{{created}}</td>
                                    <td>{{zip}}</td>
                                    <td><button type="button" class="btn btn-info" onclick="window.location.href='./bracketing?title={{title}}'">View</button></td>
                                    <td><button type="button" class="btn btn-primary" onclick="edit('{{title}}')">Edit</button></td>
                                    <td><button type="button" class="btn btn-danger" onclick="del('{{title}}')">Delete</button></td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="js/functions.js"></script>
        <script src="js/create_tournament.js"></script>

    </body>
</html>

